/*
 * Xiphos Q8 devicetree
 *
 *  Copyright (C) 2016, Xilinx, Inc.
 *  Copyright (C) 2016 - 2017, Xiphos System Corp.
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

#include "zynqmp-zcu102-revA.dts"

/ {
	model = "Q8-devboard";
	compatible = "xiphos,q8", "xlnx,zynqmp-zcu102-revB", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
};

&gem3 {
	phy-handle = <&phyc>;
	phyc: phy@c {
		reg = <0xc>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,rxctrl-strap-worka;
	};
	/* Cleanup from RevA */
	/delete-node/ phy@21;
};

/* Different qspi 512Mbit version */

/* Fix collision with u61 */
&i2c0 {
	i2cswitch@75 {
		i2c@2 {
			max15303@1b { /* u8 */
				compatible = "max15303";
				reg = <0x1b>;
			};
			/delete-node/ max15303@20;
		};
	};
};

&qspi {
	status = "okay";
	is-dual = <0>;
	is-stacked = <1>;
	has-io-mode = <1>;
	spi-rx-bus-width = <2>;
	/delete-node/ flash@0;
	flash: flash@1 {
		compatible = "m25p80"; /* 32MB */
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
		spi-max-frequency = <108000000>; /* Based on DC1 spec */

		qspi0@0 {
			reg = <0x00000000 0x08000000>;
		};

		qspi0-nom@1 {
			reg = <0x00000000 0x04000000>;
		};
		qspi0-nom-xscinfo@2 {
			reg = <0x00000000 0x00020000>;
		};
		qspi0-nom-fw@3 {
			/* 10MiB */
			reg = <0x00020000 0x00A00000>;
		};
		qspi0-nom-rootfs@4 {
			reg = <0x00A20000 0x035E0000>;
		};
	};
};
