CONFIG_ARM=y
CONFIG_SYS_VENDOR="xiphos"
CONFIG_SYS_BOARD="q7"
CONFIG_SYS_CONFIG_NAME="xiphos_q7"
CONFIG_ARCH_ZYNQ=y
CONFIG_SYS_TEXT_BASE=0x4000000
CONFIG_DEFAULT_DEVICE_TREE="xiphos-q7-revb"
CONFIG_BOOTDELAY=1
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="xsc-q7> "
CONFIG_CMD_GREPENV=y
CONFIG_CMD_MEMINFO=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PA3=y
CONFIG_CMD_XSCINFO=y
CONFIG_XSCINFO_ENABLE_RO_WRITE=y
CONFIG_CMD_SF=y
CONFIG_CMD_USB=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_MTDIDS_DEFAULT="nor0=flash"
CONFIG_MTDPARTS_DEFAULT="mtdparts=flash:128k(nom0-xscinfo),5m(nom0-fw),128k(nom0-devicetree),5m(nom0-kernel),53m(nom0-rootfs),128k(gold0-xscinfo),5m(gold0-fw),128k(gold0-devicetree),5m(gold0-kernel),53m(gold0-rootfs),128k(nom1-xscinfo),5m(nom1-fw),128k(nom1-devicetree),5m(nom1-kernel),53m(nom1-rootfs),128k(gold1-xscinfo),5m(gold1-fw),128k(gold1-devicetree),5m(gold1-kernel),53m(gold1-rootfs)"
CONFIG_CMD_UBI=y
CONFIG_OF_EMBED=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_DM_GPIO=y
CONFIG_MMC_SDHCI=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_ZYNQ_GEM=y
CONFIG_ZYNQ_SERIAL=y
CONFIG_ZYNQ_QSPI=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_ULPI_VIEWPORT=y
CONFIG_USB_ULPI=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_CI_UDC=y
CONFIG_USB_GADGET_DOWNLOAD=y
